/* font */
body {

    font-family: "Open Sans", sans-serif;

}

/* nav styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;

}

.text-primary {
    color: #FD6E0A;
}

/* nav-title */
.nav-title {
    color: #181818;
    font-weight: 800;
    font-size: 45px;


}

nav ul {
    display: flex;
    align-items: center;

}

nav ul li {
    list-style: none;
    margin-right: 50px;
}

nav ul li a {
    text-decoration: none;
    color: #474747;
}

.btn-primary {
    background: #FD6E0A;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 18px 35px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
}

/* header related style */
.header {
    background: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner {
    padding: 30px 30px 1px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-greeting {
    font-size: 45px;
    color: #474747;
    margin-bottom: 0;
}

.banner-title {
    font-size: 65px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}

.banner-content {
    max-width: 500px;
}

/* main section styles */
main {
    max-width: 1140px;
    margin: 0 auto;
}

/* about section styles */
.about {
    padding: 130px;
    margin: 130px 0;
    background: #FFF8F3;
    border-radius: 10px;
}

.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.section-description {
    color: #757575;
    text-align: center;
    font-size: 18px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;

}

.about-info {
    text-align: center;
}

/* what I do related styles */

#what-i-do-description {
    padding: 30px 150px;
}

.skills-container {
    display: flex;
    justify-content: space-around;
    gap: 24px;

}

.skill {
    padding: 30px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.skill-description {
    color: #757575;
}

.resume-container {
    display: flex;
    gap: 50px;
}

.resume-item-description,
.resume-item-institude {
    color: #757575;
}

.resume-item-title {
    color: #757575;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}

.resume-item-institude {
    margin-bottom: 20px;
    margin-top: 0;
}

.resume-column-title {
    font-size: 30px;
    color: #474747;
}

.resume-container hr {
    margin: 30px;
}

.download-cv {
    text-align: center;
    margin-top: 50px;
}

/* footer style */
footer {
    display: flex;
    background-color: #FFF8F3;
    padding: 130px 200px;
    margin-top: 100px;
}